:root {
  --colorPrimary: #0085ff;
  --colorSecondary: #ffb528;
  --colorTitle: #fcfcfd;
  --colorText: #fdfdfd;
  --colorPrimaryHover: #1761c1;
  --colorBG: #111111;
  --colorBG2: #0a0a0b;
  --colorBGCard: #262626;
  --colorAccent: #99ceff;
  --colorGR1: -webkit-linear-gradient(
    270deg,
    #eaf5ff 10.17%,
    #b7ddff 37.87%,
    #6bb8ff 66.4%,
    #005fb6 92.86%
  );
  --colorGR2: -webkit-linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.8) 10.17%,
    rgba(226, 226, 226, 0.9) 52.06%,
    #888 92.86%
  );
  --colorGR3: -webkit-linear-gradient(
    270deg,
    #55c4f4 10.17%,
    #0085ff 52.76%,
    #005fb6 92.86%
  );
  --colorGR4: -webkit-linear-gradient(
    205deg,
    #616161 9.15%,
    #676767 48.67%,
    #595959 87.16%
  );
  --colorGR5: -webkit-linear-gradient(
    270deg,
    #319cff 10.17%,
    #0176e2 54.82%,
    #0264be 92.86%
  );
  --shadowGlow: 0px 0px 24px 0px rgba(51, 157, 255, 0.32);
  --fontTitle1: clamp(40px, calc(70 / var(--viewDesktop) * 100vw), 70px);
  --fontTitle2: clamp(34px, calc(60 / var(--viewDesktop) * 100vw), 60px);
  --fontTitle3: clamp(22px, calc(49 / var(--viewDesktop) * 100vw), 49px);
  --fontTitle4: clamp(18px, calc(39 / var(--viewDesktop) * 100vw), 39px);
  --fontTitle5: clamp(28px, calc(31 / var(--viewDesktop) * 100vw), 31px);
  --fontTitle6: clamp(1rem, calc(25 / var(--viewDesktop) * 100vw), 25px);
  --fontBodyBig: clamp(16px, calc(18 / var(--viewDesktop) * 100vw), 18px);
  --fontBody: clamp(14px, calc(16 / var(--viewDesktop) * 100vw), 16px);
  --fontItemMenu: clamp(14px, calc(16 / var(--viewDesktop) * 100vw), 16px);
  --fontButton: 18px;
  --fontTable: 16px;
  --fontLabel: 14px;
  --viewDesktop: 1272;
  --viewDesktopSmall: 993;
  --viewTablet: 768;
  --viewMobile: 400;
}
